{% extends 'base.html' %} {% block content %} {% include 'nav.html' %}
<h2>Welcome {{ request.user }}</h2>
<div>
  <h3>Following: {% for item in list %} {{item.target}}, {% endfor %}</h3>
</div>
<div>
  <h2>The Feed</h2>
  <button><a href="/tweet/">Tweet!</a></button>
  <ul>
    {% for tweet in feed %}
    <li>
      <hr />
      <a href="/profile/{{ tweet.author.id }}">{{ tweet.author }}</a>:
      <p>{{tweet.body}}</p>
      <p>{{ tweet.date }}</p>
      <hr />
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
