{% extends 'base.html' %} {% block content %} {% include 'nav.html' %}
<h1>--------------------------Profile--------------------</h1>
<h3>Username: {{ profile.username }}</h3>
{% if profile.id != request.user.id %}
<button><a href="/follow/{{ profile.id }}">follow</a></button>
<button><a href="/unfollow/{{ profile.id }}">unfollow</a></button>
{% endif %}
<h3>Tweets:{{ tweet_count }}</h3>
<h3>Following: {{ follow_count }}</h3>
users being followed by {{ profile.username }}:
<ul>
  {% for item in list %}
  <li>
    <a href="/profile/{{ item.target.id }}">{{ item.target.username }}</a>
  </li>
  {% endfor %}
</ul>
<p>
  I am a profile page created on: {{ profile.created_on }}
</p>

<h2>Follow Feed</h2>
<ul>
  {% for tweet in tweets %}
  <li>
    <hr />
    <a href="/profile/{{ tweet.author.id }}">{{ tweet.author }}</a>:
    <p>{{tweet.body}}</p>
    <p><a href="/tweetview/{{ tweet.id }}">{{ tweet.date }}</a></p>
    <hr />
  </li>
  {% endfor %}
</ul>

{% endblock %}
